project_name     = "finguard"
environment      = "dev"
location         = "eastus"

# Dev: nodos burstable para bajo costo
node_pool_vm_size       = "Standard_B2s"
node_pool_min_count     = 1
node_pool_max_count     = 3
node_pool_os_disk_size_gb = 64

acr_sku                = "Basic"
log_analytics_retention_days = 7
key_vault_sku          = "standard"

# Cambiar en producción
jwt_secret             = "default-secret-key-change-me-in-production"
